body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }

.game-title {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  text-align: center;
}